backend/venv/
backend/.env
backend/vector_db/
backend/question_vector_db/
backend/data/
backend/uploads/
backend/__pycache__/
backend/src/__pycache__/
*.pyc

frontend/node_modules/
frontend/dist/

.vscode/
.DS_Store
Thumbs.db