fastapi
uvicorn

langchain
langchain-community
langchain-core
langchain-chroma
langchain-ollama
langchain-openai
openai
chromadb
langchain-google-genai
google-genai
unstructured[all-docs]
pymupdf
pdf2image
pytesseract
Pillow

python-dotenv

pydantic

python-multipart

tqdm

numpy